doctype html
html
  head
    meta(charset="UTF-8")

    title Web App Boilerplate

    link(rel="stylesheet" type="text/css" href="/stylesheets/app.css")

    script(type="text/javascript" src="/components/phaser/phaser.min.js")

    script(type="text/javascript" src="/js/app.js")

  body
